<%-include('../includes/start.ejs')%>
<%-include('../includes/nav.ejs')%>

<%if (car.length>0){%>
    <% for (let c of car) {%>
        <ul>
        <li>name: <%= c.title%> </li>
    <li>Description: <%= c.description%> </li>
    <li>Brand: <%= c.BrandName%> </li>
    <li>Category: <%= c.CategoryName%> </li>
    <li>Image: <%= c.image%> </li>
    <li>NumberOfRental: <% if(c.numberOfRentals ===null) {%>0 <%}else{%><%=c.numberOfRentals%> <%}%>  </li>
    </ul>
    <%}%>
    <%} else {%>
        No Cars!
        <%}%>
        <a href="/list">List Of Cars</a>

    <%-include('../includes/end.ejs')%>