<%-include('../includes/start.ejs')%>
<%-include('../includes/nav.ejs')%>

<form action="<% if(edit){%>/brand/update/<%=brand.name%><%}else{%> /brand/add <%}%>" method="post">
    <label for="name">brand name:</label>
    <input type="text" name="name" id="name" value="<%if(edit){%><%=brand.name%><%}%>"><br><br>
    <label for="desc">Description</label>
    <textarea name="desc" id="desc" cols="25" rows="5"><%if(edit){%><%=brand.description%><%}%></textarea><br>
    <label for="shownbcars">Show Nb Cars:</label>
    <select name="snc" id="snc" >
        <option value="true">true</option>
        <option value="false">false</option>
    </select><br>

    <button type="submit"> <% if(edit){ %>Update Brand<%} else {%> Add Brand <%}%></button>
    </form>

    <%-include('../includes/end.ejs')%>